header {
  position: fixed;
  z-index: 99;
  top: 0px;

  width: 100%;
  padding-bottom: 20px;

  background-color: rgba(14, 14, 14, 0.75);
}

.main {
  position: relative;

  margin-top: 85px;
  margin-bottom: 420px;

  background-color: whitesmoke;
}

//aside

footer {
  font-size: 0.6em;

  position: fixed;
  z-index: -9;
  bottom: 0;

  width: 100%;
  padding: 0 10% 40px 10%;

  text-align: center;

  color: rgb(192, 192, 192);
  background-color: rgba(14, 14, 14, 0.8);

  img {
    width: 200px;
    height: auto;
    padding-top: 5em;
    padding-bottom: 0.8em;
  }
}

.icon-spacing {
  letter-spacing: 20px;
}

.text-right {
  text-align: right;
}

.about-link {
  font-size: 0.8em;

  letter-spacing: 6px;
}

li {
  float: left;
}

.logo {
  max-width: 33%;

  text-align: center;

  flex: 33%;
}

.archive-link {
  display: block;

  width: 100%;
  margin: 0.5em 0 0 0;

  text-align: center;
}

@media screen and (min-width: 900px) {
  .main {
    margin-top: -15px;
  }

  header {
    padding-bottom: 20px;
  }

  .behind-header {
    display: block;
  }
}
