@use 'colors' as *;

header {
  position: fixed;
  z-index: 99;
  top: 0px;

  width: 100%;

  background-color: rgba(14, 14, 14, 0.85);
}

.main {
  position: relative;

  margin-top: 85px;
  margin-bottom: 420px;

  background-color: whitesmoke;
}

//archive pages
.archive__main-content {
  flex: 100%;
  max-width: 100%;
}

//aside
aside {
  position: sticky;
  top: -200px;

  max-width: 100%;
  height: fit-content;
  padding: 1rem;
  margin: 0;

  background-color: $color2;

  flex: 100%;
  align-items: center;

  div {
    padding: 10px 0;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  hr {
    width: 100%;

    border-width: 2px;
    border-color: black;
  }

  img {
    display: block;

    width: 50%;
    height: auto;
    margin: auto;
  }

  .merch {
    float: right;
  }
}

//footer
footer {
  font-size: 0.6rem;

  position: fixed;
  z-index: -9;
  bottom: 0;

  width: 100%;
  padding: 0 10% 50px 10%;

  text-align: center;

  color: rgb(192, 192, 192);
  background-color: rgba(14, 14, 14, 0.8);

  img {
    width: 200px;
    height: auto;
    padding-top: 3.5rem;
    padding-bottom: 0.7rem;
  }
}

.icon-spacing {
  letter-spacing: 20px;
}

.text-right {
  text-align: right;
}

.about-link {
  display: block;

  font-size: 0.8rem;

  letter-spacing: 6px;
}

li {
  float: left;
}

.logo {
  max-width: 40%;

  flex: 40%;
}

.archive-link {
  display: block;

  width: 100%;
  margin: 0.5em 0 0 0;

  text-align: center;
}

@media screen and (min-width: 900px) {
  .main {
    margin-top: 190px;
  }

  .archive__main-content {
    flex: 70%;
    max-width: 70%;
  }

  aside {
    max-width: 26%;

    margin-top: 33px;
    margin-left: 18px;

    flex: 26%;
  }
}
