@use 'colors' as *;

// Header

.lg-scrn-header {
  display: flex;

  height: 168px;
  padding: 8px;

  transition: height 200ms ease-in-out, align-items 200ms ease-in-out;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;

  &__top-row {
    max-width: 50%;

    flex: 50%;
  }

  &__bottom-row {
    max-width: 33%;

    flex: 33%;
  }
}

.slide-nav {
  position: relative;
  left: 0;
  transition: left ease-in-out 250ms;
}

.search-bar-container {
  float: right;

  width: 60%;
  margin-bottom: -7px;
}

/* Google search bar */
.gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-search-button-v2:hover {
  border-color: $color1 !important;
}

// Grid System

.row {
  display: flex;

  margin: 15px 0;
  padding: 40px 0 65px 0;

  justify-content: center;
  flex-wrap: wrap;

  &--live-seattle {
    background-color: $color2;

    .three-col {
      height: 200px;
    }
  }

  &--read {
    background-color: $color4;

    .row__title h1::after {
      background: $color4;
    }
  }

  &__title {
    text-align: center;

    max-width: 100%;
    margin-bottom: 30px;

    flex: 100%;

    // h1 for kevin powell thing
    h1 {
      position: relative;

      display: inline-block;

      margin: 0;
    }

    // h1::after {
    //   position: absolute;
    //   top: 40%;
    //   right: 9%;
    //   left: 110px;

    //   display: block;

    //   height: 4px;
    //   margin-top: -3px;

    //   content: "";

    //   background: black;
    // }

    // for Kevin Powell thing -
    h1::before,
    h1::after {
      position: absolute;
      top: 27%;

      display: block;

      height: 4%;

      content: "";
    }

    h1::before {
      z-index: -2;
      left: 50%;

      width: 70vw;

      transform: translateX(-50%);

      background: black;
    }

    h1::after {
      z-index: -1;
      top: 0;
      right: -0.2em;
      left: -0.2em;

      height: 101%;

      background: whitesmoke;
    }

    //end Kevin Powell thing

    &--live {
      margin: 10px 10%;
      padding: 15px 10px 30px 10px;

      img {
        float: left;

        width: auto;
        margin-right: 8px;
      }

      p {
        padding-top: 20px;
      }
    }
  }
}

// Archive pages

.archive {
  display: flex;

  margin-top: 15px;
  padding: 0 3% 50px 3%;

  color: black;

  justify-content: center;
  flex-wrap: wrap;

  &__h1 {
    font-size: 2.2rem;

    margin: 5px 0 30px 0;

    text-align: center;
    letter-spacing: 3px;
  }
}

.archive-row {
  display: flex;

  margin: 0 0 10px 0;
  padding: 22px 0 25px 0;

  justify-content: left;
  flex-wrap: wrap;

  &:hover h3 {
    color: $color1;
  }

  &:hover img {
    opacity: 0.2;
  }

  &__image {
    overflow: hidden;

    max-width: 100%;
    height: 175px;
    margin: 5px;
    padding: 0 2px;

    background-color: rgb(31, 30, 30);

    flex: 100%;
  }

  &__text {
    position: relative;

    display: inline-block;

    max-width: 100%;
    max-height: 280px;
    margin: 0;
    padding: 0 8px;

    flex: 100%;

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  img {
    position: relative;
    top: 50%;
    left: 50%;

    width: 100%;
    margin-right: -50%;

    transition: opacity ease-in 250ms;
    transform: translate(-50%, -50%);

    opacity: 1;
  }

  a {
    color: black;

    &:hover {
      color: $color1;
    }
  }

  &--of-the-week {
    display: flex;

    margin: 0;
    margin-bottom: 100px;
    padding: 12px;

    color: whitesmoke;
    background-color: black;

    justify-content: space-between;
    flex-wrap: wrap;

    a {
      color: whitesmoke;
      &:hover {
        color: $color1;
        font-weight: bold;
      }
    }

    &__text {
      position: relative;

      display: inline-block;
      overflow: hidden;

      max-width: 100%;
      max-height: 280px;
      margin: 5px 5px 15px 5px;
      padding: 0 2px;

      flex: 100%;

      h3 {
        margin-bottom: 8px;
        font-weight: bold;
      }

      p {
        text-indent: 5px;
        font-size: 0.8rem;
      }
    }

    &__card-container {
      position: relative;

      max-width: 100%;
      height: 280px;

      flex: 100%;

      .caption {
        left: 0;
        width: 101%;
      }
    }
  }
}

.read-archive-nav {
  font-size: 1em;

  padding-bottom: 0;

  text-align: center;

  span {
    padding: 0 12px;
  }

  a {
    padding: 0 12px;

    text-decoration: underline;

    color: $color1;

    &:hover {
      color: black;
    }
  }
}

.read-archive-h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: -50px 0 0 0;
  text-align: center;
}

.archive__live-seattle-heading {
  @extend .row__title--live;
  background-color: $color2;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 25px 40px 10px;
}

//Article pages

.article-container {
  display: flex;

  margin-top: 15px;
  padding: 10px 3%;

  color: black;

  justify-content: center;
  flex-wrap: wrap;
}

article {
  max-width: 100%;

  padding-bottom: 20px;

  flex: 100%;

  h1 {
    margin: 0;
    padding: 0;
  }

  hr {
    margin: 5px 0 0 0;
  }

  img {
    display: block;

    max-width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
  }

  p {
    padding: 10px 20px 10px 0;
    line-height: 1.2rem;
  }

  p:first-of-type {
    margin-top: 30px;
  }

  p:last-of-type {
    margin-bottom: 30px;
  }

  blockquote {
    margin: 1rem 2rem;
  }

  a {
    color: $color1;

    &:hover {
      color: black;
      font-weight: normal;
    }
  }
}

figcaption {
  text-align: center;
  font-size: 0.7em;

  margin-top: 5px;
}

.author {
  font-size: 0.6em;

  display: block;

  margin: 2px 5px 20px 0;
  padding: 0;

  text-align: right;
  text-indent: 50px;
}

.one-col {
  max-width: 100%;
  padding-top: 20px;

  flex: 100%;
}

.three-col {
  position: relative;

  display: inline-block;
  overflow: hidden;

  max-width: 28%;
  height: 275px;

  margin: 5px;
  padding: 0 2px;

  text-overflow: ellipsis;

  flex: 28%;
}

.three-col-lg {
  position: relative;

  display: inline-block;
  overflow: hidden;

  max-width: 40%;
  height: 275px;

  margin: 5px;
  padding: 0 2px;

  flex: 40%;
}

.four-col {
  position: relative;

  display: inline-block;
  overflow: hidden;

  max-width: 20%;
  height: 250px;

  margin: 5px;
  padding: 2px;

  flex: 20%;

  .caption__category {
    font-size: 0.6rem;
  }
}

// Cards

.card {
  display: flex;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: black;

  justify-content: center;
  align-items: center;

  &:hover .caption {
    padding: 10px 4px;
  }

  &:hover hr {
    width: 95%;

    border-width: 1px;
  }

  &:hover img {
    opacity: 0.4;
  }

  &__image {
    width: 100%;

    transition: opacity ease-in 250ms;

    opacity: 1;
  }
}

.caption {
  position: absolute;
  right: 2px;
  left: 2px;
  bottom: 0px;

  padding: 4px 4px;

  transition: padding ease-in 250ms;

  color: white;
  background-color: rgba(14, 14, 14, 0.8);

  &__h2 {
    font-size: 0.7rem;
    font-weight: 100;

    margin: 0;
    padding: 8px;
  }

  &__h2--lg {
    padding: 8px;
  }

  &__category {
    font-size: 0.9rem;
    font-weight: normal;

    display: inline-block;

    margin: 0 4px 4px 0;
    padding: 4px 12px 7px 12px;

    vertical-align: 5px;
    letter-spacing: normal;

    color: rgb(255, 255, 255);
    border-radius: 50px;
    background-image: linear-gradient(220deg, $color1, $color3);
  }

  hr {
    width: 0;
    margin-left: 2%;

    transition: width ease-in-out 250ms;

    border-width: 0;
    border-color: $color1;
  }
}

// Side bar
.aside-social-icons {
  margin-bottom: 15px;
  a {
    font-size: 2rem;

    position: relative;
    bottom: 0;

    padding-right: 16px;
    padding-bottom: 0;

    transition: bottom ease-in-out 250ms;
    letter-spacing: 0;

    align-items: center;

    &:hover {
      bottom: 5px;
    }
  }
}

.fa-facebook-square {
  background: linear-gradient(45deg, rgb(18, 55, 122), rgb(75, 114, 187));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.fa-twitter-square {
  background: linear-gradient(130deg, rgb(107, 149, 216), rgb(118, 155, 214));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

aside .fa-soundcloud {
  background: linear-gradient(0deg, rgb(224, 51, 3), rgb(255, 111, 0));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.fa-youtube-square {
  background: linear-gradient(0deg, rgb(151, 20, 20), rgb(231, 58, 58));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.text-slant {
  font-size: 1.5em;

  margin: 30px 0;

  transform: rotate(-10deg);
  text-align: center;
}

.bunny-img {
  width: 80%;
  margin-top: 30px;
}

/* Make youtube embeds responsive */
.iframe-container {
  position: relative;

  clear: both;

  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  margin: 5px 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

// Flickity image carousel

.carousel {
  width: 90%;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  background: rgb(45, 46, 45);
  border-radius: 5px;
}

.flickity-page-dots {
  bottom: 2% !important;
}

ol.flickity-page-dots {
  display: block;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Footer

.footer__row {
  max-width: 100%;

  flex: 100%;

  &--nav {
    @extend .row;
  }

  &--about {
    @extend .one-col;
    padding-top: 20px;
    height: auto;
  }

  &--social-icons {
    font-size: 1rem;
    margin-left: 14px;
  }

  a {
    letter-spacing: 18px;
  }
}

//About

.slogan {
  font-weight: bold;

  display: block;

  margin-bottom: 40px;

  text-align: center;
  letter-spacing: 4px;
}

// Media Queries

@media screen and (max-width: 579px) {
  .row {
    padding: 20px 5px 45px 5px;
  }

  .three-col-lg,
  .three-col {
    flex: 100%;
    max-width: 100%;
    height: 250px;
  }

  .four-col {
    flex: 45%;
    max-width: 45%;
    height: 170px;

    .caption__h2 {
      font-size: 0.55rem;
    }

    .caption__category {
      padding: 2px 9px 4px 9px;
    }
  }
}

@media screen and (min-width: 580px) and (max-width: 899px) {
  .three-col-lg,
  .three-col,
  .four-col {
    flex: 45%;
    max-width: 45%;
  }
}

@media screen and (max-width: 899px) {
  .lg-scrn-header {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .hmbg-menu {
    display: none;
  }

  .four-col {
    height: 200px;
  }

  .archive {
    padding: 0 5% 50px 5%;
  }

  .archive__h1 {
    margin: 15px 0 50px 0;
  }

  .archive-row {
    margin: 0 10px 10px 15px;
    padding: 22px 5px 25px 5px;
    border-bottom: 1px solid #dad9d9;

    &--of-the-week__text {
      max-width: 90%;
      flex: 28%;
    }

    &--of-the-week__card-container {
      max-width: 60%;
      flex: 60%;
    }

    &__image {
      max-width: 28%;
      flex: 28%;
    }

    &__text {
      max-width: 68%;
      margin: 5px;
      padding: 0 2px 0 10px;
      flex: 68%;
    }
  }

  .article-container {
    padding: 50px 5%;
  }

  article {
    max-width: 70%;

    padding-right: 12px;
    padding-bottom: 0;

    flex: 70%;

    img {
      max-width: 550px;
    }
  }

  .read-archive-nav {
    font-size: 1.5em;
  }

  .read-archive-h1 {
    margin: 40px 0 0 0;
  }

  .iframe-container {
    width: 80%;
  }
}
